
@import 'bootstrap/scss/bootstrap';
@import 'bootstrap-vue/src/index';
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

$link-hover: #DD3333;
$muted-title: #555;
$subtle-background: #FFFFFF;
$separator: #ccc;
$subtle-separator: #F3F3F3;
$borders: 1px solid;
$standard-space: 15px;
$double-space: 30px;

$off-white: #FBFDFD;
$sky: #CAEBF2;
$carbon: #A9A9A9;
$watermelon: #FF3B3F;
$neutral: #FF3B3F;
$body-text: #545454;


body {

  background-color: $off-white;
  background: url('assets/background.jpg') repeat;
  color: $body-text;

}

a {

  color: $body-text;
  text-decoration: none;

  &:hover {
    color: $watermelon;
    text-decoration: none;
  }
}

h6 {

  font-family: Arial;
  font-weight: bolder;

}

.fade-enter-active,
.fade-leave-active {
  transition-duration: .15s;
  transition-property: opacity;
  transition-timing-function: ease;
}

.fade-enter,
.fade-leave-active {

  opacity: 0;

}
.tcstring-main-body {
  .segment-head {
    cursor: pointer;
    font-weight: bold;
    background-color: $subtle-separator;
    border-bottom: 1px solid $watermelon;
  }
  .collapse {
    padding: $standard-space;
  }
}



button:focus {
  outline:0;
}

input:focus {
  outline:0;
}

.item-key {
  font-weight: bold;
}

.item-string {
  color: #6b9639;
}

.item-boolean {
  font-weight: bold;
  color: #bf0880;
}

.item-null {
  color: #FFFF00;
}

.item-date {
  color: #39966e;
}

.decode-output-error {
  font-weight: bold;
  color: #DD3333;
}

.root-row {

  margin-top: 0px;
  padding: $double-space 0px;
  background-color: $off-white;
  box-shadow: 0px 0px 5px #DDD;

}

.navbar-text {

  font-size:.9em;
  line-height:2.25em;

}

.navbar-brand {
  padding-top: 0px;
  a {
      &:hover {
        color:$watermelon;
        fill:$watermelon;

      }
  }
}

.github-link {

  float: right;
  margin-left: $standard-space;

}

nav {

  background-color: $off-white;
  border-bottom: 1px solid $watermelon;
  box-shadow: 0px 5px 5px #DDD;

}

.code-ish {
  font-family: $font-family-monospace;
}
.bits {
  font-size:.75em;
  color: #666;
  clear: both;
  display: inline-block;
  width: 100%;
  font-family: $font-family-monospace;
  margin-top: $standard-space;
  overflow-wrap: break-word;
}

.file-issue-text {

  float:right;
  font-size: .7em;
  a {

    color: $watermelon;

    img {

      height:15px;
      width:15px;

    }
  }
}


legend, label  {

  color: $muted-title;

}

.tcstring {

  margin-bottom: $standard-space

}

.decode-link {

  font-size: .75em;
  line-height: 3em;

}
